
<div class="header">
  <span class="title-container" (click)="showHome()"><a href="#">FlexiTranslator</a></span>
  <ul class="nav-items">
    <span class="item" (click)="showHOwTo()">
      <li><a href="#">HOW TO USE OUR SERVICE</a></li>
    </span>
    <span class="item" (click)="showFaq()">
      <li><a href="#">FAQs</a></li>
    </span>
    <span class="item" (click)="showFeedBack()">
      <li><a href="#">CONTACT US </a></li>
    </span>
  </ul>
</div>



<div *ngIf="home" class="main-container">
  <div class="first-two">
    <span class="container-for-text">
      <span class="text-container-one">Want to translate</span>
      <app-animate [textToAnimate]="'free of cost.'" [customClass]="'text-container-two'"></app-animate>
    </span>

    <span class="form-container">
      <span class="tab">Try Our Service</span>
      <div class="custom-input-container">
        <input type="text" class="custom-input" [(ngModel)]="inputText" placeholder="Type something...">
      </div>

      <div class="btn-translate">
        <span class="width">
          <select  class="btn-white-2" [(ngModel)]="sourceLanguage"> 
            <option [value]="'en'">English</option>
            <option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</option>
          </select>
        </span>
        <span class="width container-to">TO</span>
        <span class="width">
          <select  class="btn-white-2" [(ngModel)]="targetLanguage">  
            <option [value]="'jp'">Japanese</option>
            <option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</option>
          </select>
        </span>

      </div>
      <div>
        <button class="btn-white-2" (click)="sendOutput(sourceLanguage,targetLanguage)">Translate</button>
      </div>

      <div *ngIf="result" class="result-container">
        {{resultText}}
      </div>
    </span>
  </div>


  <div class="stats-container" *ngIf="!result">
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">{{stats.visitor}}+</div>
        <div class="stats-label">Visitors</div>
      </div>
    </div>
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">{{stats.apiHits}}+</div>
        <div class="stats-label">Api hits</div>
      </div>
    </div>
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">{{stats.loves}}+</div>
        <div class="stats-label">Love this</div>
      </div>
    </div>
    <div class="stats-box">
      <div class="stats-content">
        <div class="stats-number">{{stats.contributions}}+</div>
        <div class="stats-label">Contributions</div>
      </div>
    </div>
  </div>
</div>

<app-how-to *ngIf="howto"></app-how-to>

<app-faq *ngIf="faq"></app-faq>

<app-feedback *ngIf="feedback"></app-feedback>

<br>
<br>
<br>
<br>
<br>


<footer class="footer">
  <!-- <p class="text-footer">&copy; 2024 FlexiTranslator. All rights reserved.</p> -->
  <div class="top-donation-box">
    <span class="txt">Support our work </span>
    <a href="https://www.buymeacoffee.com/Coffee4Akash" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 35px !important;" ></a>
    <!-- <span class="txt">OR </span> -->
    
  </div>
</footer>